/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end reset*/
html {
    background: -moz-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#CCCCCC), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #CCCCCC 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #CCCCCC 0%,#FFFFFF 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #CCCCCC 0%,#FFFFFF 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#CCCCCC', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #CCCCCC 0%,#FFFFFF 100%); /* W3C */
    height: 100%;
}
#main {
    width: 665px;
    margin: 0 auto;
    font: normal 14px/1.3 Arial, "MS Trebuchet", sans-serif;
    color: #202020;
    overflow: hidden;
    background: #fff;
}
h1 {
    font: normal 28px/1.5 Georgia,"Times New Roman", Times, serif;
}
li {
    float: left;
}
figure {
    width: 169px;
    float: left;
}
section {
  clear: left;
}
nav {
  float: left;
}
ol {
    text-transform: capitalize;
}
ol li:after {
     content: ">";
}
ol li:last-child:after {
     content: "";
}
ul {
    border-top: 1px dotted #000;
    overflow: hidden;
    font-size: 11px;
    line-height: 15px;
}
ul li {
    border-right: 1px solid #202020;
}
.resize {
    border: none;
}
ul a {
   background: transparent url('../images/sprites.gif') no-repeat;
   display: block;
   color: #202020;
}
.post a {
    background-position: 0 -476px;
    padding: 0 0 0 16px;
}
.email a {
    background-position: 0 -252px;
    padding: 0 0 0 16px;
}
.print a {
    background-position: 0 -299px;
    padding: 0 0 0 16px;
}
.share a {
    background-position: 0 -344px;
    padding: 0 0 0 16px;
}
.resize a {
    background-position: 0 -387px;
    padding: 0 0 0 16px;
}
.smaller a {
    background-position: 0 -440px;
    padding: 0 0 0 16px;
}
.wrap {
    width: 433px;
    float: right;
}
a {
    color: #CC6600;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
figure .byline {
    color: #666;
}
.updated {
    color: #666;
}
.published {
    color: #666;
}
p.larger {
    font-size: 16px;
}
.smaller {
   display:none  
}
.byline .fn {
    font-weight: bold;
    color: #CC6600;
}
.byline .org {
    display: block;
}
.enlarge {
   color: #CC6600;
   text-transform: uppercase;
   background: transparent url('../images/sprites.gif') no-repeat 0 -387px;
   padding: 0 0 0 10px;
 }

